@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');


html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.content {
    max-width: 1024px;
    width: 100%;
}

/*      HEADER      */
header,
.hero {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    justify-content: center;

}

.logo {
    font-size: 24px;
    color: #f9faf8;
}

header .content {
    display: flex;
    justify-content: space-between;
}

header li,
a,
a:active,
a:visited {
    text-decoration: none;
    list-style: none;
    color: #f9faf8;
}

nav {
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 16px;
}

/*      HERO     */
.hero h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin: 0;
}

.hero p,
a,
a:active,
a:visited {
    font-size: 18px;
    color: #E5E7EB
}

.hero .content {
    display: flex;
    justify-content: space-between;
}

.hero {
    padding-top: 89.22px;
    padding-bottom: 120px;
}

.sign-button {
    padding: 8px 32px;
    border-radius: 8px;
    border: 1px solid #295aaa;
    color: #f9faf8;
    background-color: #3882f6;
}

/* Info Header*/

.info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 50px;
}

.info-title {
    justify-self: center;
    font-size: 36px;
    color: #1f2937;
    font-weight: 900;
    padding-bottom: 20px;
    margin-top: 0;
}

.info .content {
    display: flex;
    justify-content: space-between;
}

.subtext {
    color: #6a737f;
}

.img-container img {
    border-radius: 32px;
    border: 5px solid #3882f6;

}

.img-container {
    width: 200px;
    text-align: center;
}


/*  quote section   */
.quote-section {
    display: flex;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 5% 20%;

}

.quote-section .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;

}

.quote p {
    font-size: 36px;
    color: #1f2937;
    font-weight: 300;
    font-style: italic;

}

.atribution {
    display: flex;
    justify-content: flex-end;
    font-size: x-large;
    font-weight: 600;
    color: #1f2937;
    margin-top: 0;
}

/* call to action */
.call-to-action {
    display: flex;
    justify-content: center;
    padding: 10vh;
}

.call-to-action .content {
    background-color: #3882f6;
    display: flex;
    border-radius: 10px;
    padding: 2vh 10vh;
    border-color: #f9faf8;
    color: #f9faf8;
    justify-content: space-between;
    align-items: center;

}

.sign-button.border {
    border: 2px solid #E5E7EB;
    font-size: medium;
    font-weight: 600;
}

.banner h3 {
    font-size: x-large;
    margin-bottom: 0;
}

/* footer */

footer{
    display: flex;
    justify-content: center;
    background-color: #1f2937;
    color: #f9faf8;
    padding: 5vh 0;
}

footer .content{
    display: flex;
    justify-content: center;

}